.career {
  display: flex;
  align-items: flex-start;
}
.career .career-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 20%;
  height: auto;
  border-radius: 50%;
  background-color: white;
}
.career .career-img-wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.career .career-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
}

.career .career-info {
  padding: 0px 20px;
  flex: 1;
}
