#careers {
  background-color: #e2e5e6;
}
#careers .content-title {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%) rotate(270deg);
  color: white;
  text-decoration: underline;
}
