.content {
  grid-column: 2 / 12;
  width: 100%;
}

.topnav {
  position: absolute;
  top: 0%;
  /* background-color: white; */
}
.topnav .logo {
  width: 100%;
  height: auto;
  background-color: white;
}

.header {
  position: relative;
}
.header .background {
  width: 100%;
  height: auto;
}
.header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
