/* topnav */
.topnav {
  position: fixed;
  top: 0%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.topnav.scrolled {
  background-color: white;
}
.topnav .logo {
  width: 100%;
  height: auto;
}
.topnav > * {
  max-width: 96px;
}
.topnav a.text-link {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
}
.topnav a.text-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: white;
}
.topnav a.text-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.topnav.scrolled a.text-link {
  color: #a5936e;
}

.tobnav.scrolled a.text-link:after {
  background-color: #a5936e;
}

/* icons */
.icon-link {
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.5s;
}
.Kakaotalk-icon {
  background-image: url("./icon/kakao-talk.png");
}
.Kakaotalk-icon:hover {
  background-image: url("./icon/kakao-talk-hover.png");
}
.Instagram-icon {
  background-image: url("./icon/instagram.png");
}
.Instagram-icon:hover {
  background-image: url("./icon/instagram-hover.png");
}
.Github-icon {
  background-image: url("./icon/github.png");
}
.Github-icon:hover {
  background-image: url("./icon/github-hover.png");
}

/* header */
.header {
  position: relative;
}
.header .background {
  width: 100%;
  height: auto;
}
.header:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.1rem;
  color: white;
}

/* about me */
#about-me {
  background-color: #fbf9f9;
}

#about-me .content-body {
  display: flex;
  align-items: center;
}

#about-me .content-body p {
  flex: 1;
  margin-right: 10%;
}
#about-me .content-body .img-wrapper {
  position: relative;
  overflow: hidden;
  width: 20%;
  height: auto;
  border-radius: 50%;
}
#about-me .content-body .img-wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#about-me .content-body .img-wrapper img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#careers {
  background-color: #e2e5e6;
}
#careers .content-title {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%) rotate(270deg);
  color: white;
  text-decoration: underline;
}
